.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
}
.back-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15px;
    top: 14px;
    font-size: 22px;
}
.back-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;	
}
.back-to-top:hover i {
    color: #fff;
}